*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
}

.head-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.main-heading{
  color: #1ab69d;
  font-weight: bold;
}

.heading{
  color: #1ab69d;
  font-size: 20px;
  font-weight: 550;
}

.sub-heading{
  font-weight: bolder;
  font-size: larger;
}

.bold{
  font-weight: bold;
}

.card{
  border: 2px solid rgb(157, 157, 157,0.5);
  border-radius: 7px;
  padding: 4%;
}
 
.card:hover{
  transform: scale(1.02);
  transition:  250ms ease-in-out;
  cursor: pointer;
}
.card-text{
  font-size: 19px;
}

.card-link{
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  color: #d12640eb;
}

.card-link:hover{
  color: #1ab69d;
}

.caption{
  font-size: 21px;
}

.caption-section{
background-color: rgb(251, 252, 252);
padding: 2%;
margin-bottom: 3%;
}

.main{
  width: 1000px;
  margin: 1% auto;
}
